<div class="grid grid-cols-1 justify-items-center p-8">
  <h2>warning: you are modifying the database!</h2>
  <p class="output break-words"></p>
  <p class="text-4xl">ADD NEW WORKOUT SEQUENCE</p>
  <p>
    say you want to group together cardio, which could be: biking, rowing,
    running
  </p>
  <form hx-post="/new-sequence">
    <label for="name">name</label>
    <input
      name="name"
      type="text"
      autocomplete="off"
      required
      placeholder="name of workout sequence"
    />
    <label for="machine_ids">machine_ids</label>
    <input
      name="machine_ids"
      id="machine_ids"
      placeholder="list of workout ids to include"
      type="text"
      autocomplete="off"
      required
    />
    <label for="note">notes</label>
    <input name="note" type="text" autocomplete="off" />
    <br />
    {{#each items as |item|}}
    <button
      _="on click
                 get the (value of #machine_ids)
                 append '{{item.id}},'
                 put it into the (value of #machine_ids)"
      class="btn btn-accent"
      type="button"
    >
      add {{item.name}}
    </button>
    {{/each}}
    <button class="btn btn-primary">Submit new sequence</button>
  </form>
  <br />
  <div class="py-4">
    <a
      class="btn btn-warning text-2xl"
      hx-get="/sequence-delete-buttons"
      hx-trigger="click"
      hx-swap="OuterHTML"
      hx-target="this"
    >
      delete a sequence?
    </a>
  </div>
  <br />
  <br />
  <p class="text-4xl">ADD NEW WORKOUT TYPE</p>
  <form hx-post="/new-machine" hx-target="previous .output" hx-swap="innerHTML">
    <label for="name">workout name</label>
    <input name="name" type="text" autocomplete="off" required />
    <input name="weight_active" type="checkbox" autocomplete="off" />
    <label for="weight_active">weight_active</label>
    <input name="reps_active" type="checkbox" autocomplete="off" />
    <label for="reps_active">reps_active</label>
    <input name="energy_active" type="checkbox" autocomplete="off" />
    <label for="energy_active">energy_active</label>
    <input name="distance_active" type="checkbox" autocomplete="off" />
    <label for="distance_active">distance_active</label>
    <input name="duration_active" type="checkbox" autocomplete="off" />
    <label for="duration_active">duration_active</label>
    <br />
    <button class="btn btn-primary">Submit new machine</button>
  </form>
</div>
<div class="grid grid-cols-1 justify-items-center p-8">
  <p class="text-3xl">EDIT WORKOUT TYPES</p>
  {{#each items as |item|}}
  <div class="mx-auto text-sm max-w-prose">
    <p class="output break-all"></p>
    <form
      id="form-{{item.id}}"
      hx-post="/update-{{../endpoint}}"
      hx-target="previous .output"
      hx-swap="innerHTML"
    >
      {{#each ../columns as |column|}}
      <input
        type="{{column.input_type}}"
        {{column.readonly}}
        id="{{column.key}}"
        name="{{column.key}}"
        autocomplete="off"
        value="{{lookup item column.key}}"
      />
      <label for="{{column.key}}">{{column.key}}</label>
      <br />
      {{/each}}
      <button class="btn btn-accent">
        submit update {{item.id}} {{item.name}}
      </button>
    </form>
    <button
      class="btn btn-accent"
      hx-post="/delete-{{../endpoint}}?id={{item.id}}"
      hx-swap="outerHTML"
      hx-confirm="Are you sure you want to delete {{item.id}} {{item.name}}?"
      hx-target="#form-{{item.id}}"
    >
      delete {{item.id}} {{item.name}}
    </button>
  </div>
  {{/each}}
</div>
