<a href="/">go back</a>
<div hx-trigger="load" hx-get="/user-info" hx-swap="innerHTML"></div>
<p id="output"></p>
<h1>EDIT {{endpoint}}</h1>
{{#each columns}} {{this.key}} {{/each}}
<div>
  {{#each items as |item|}}
  <form
    id="form-{{item.id}}"
    hx-post="/update-{{../endpoint}}"
    hx-target="#output"
    hx-swap="innerHTML"
  >
    {{#each ../columns as |column|}}
    <input
      type="text"
      {{#ifeq column.visibility "readonly"}} readonly {{/ifeq}}
      id="{{column.key}}"
      name="{{column.key}}"
      value="{{lookup item column.key}}"
    />
    {{/each}}
    <button>submit update</button>
  </form>
  <button
    class="inline-flex"
    hx-post="/delete-{{../endpoint}}?id={{item.id}}"
    hx-swap="outerHTML"
    hx-target="#form-{{item.id}}"
  >
    delete {{item.id}}
  </button>
  {{/each}}
</div>
