<link href="/style.css" rel="stylesheet" />
<script src="/client.js"></script>
<div class="grid grid-cols-1 justify-items-center p-8">
  {{> line-break text='*' }}
  <form hx-post="/submit-workout" hx-swap="innerHTML" hx-target="#output">
    <div>
      <select
        name="machine_name"
        id="machine_name"
        hx-get="/machine-list"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-target="this"
      ></select>
      <label for="machine_name">Exercise Name</label>
    </div>
    <div>
      <input
        name="weight"
        id="weight"
        class="bg-red-200"
        autocomplete="off"
        inputmode="numeric"
        type="text"
      />
      <label for="weight">Weight/Watts</label>
    </div>
    <div>
      <input
        name="reps"
        id="reps"
        autocomplete="off"
        class="bg-green-200"
        inputmode="numeric"
        type="text"
      />
      <label for="reps">Reps</label>
    </div>
    <div>
      <input
        name="note"
        id="note"
        autocomplete="off"
        class="bg-blue-200"
        type="text"
      />
      <label for="note">Note</label>
    </div>
    <div>
      <p>Duration (H:M:S):</p>
      <input
        name="duration_h"
        id="duration_h"
        autocomplete="off"
        inputmode="numeric"
        placeholder="0"
        class="bg-purple-200 w-20"
      />
      <label for="duration">:</label>
      <input
        name="duration_m"
        id="duration_m"
        autocomplete="off"
        inputmode="numeric"
        placeholder="0"
        class="bg-purple-200 w-20"
      />
      <label for="duration">:</label>
      <input
        name="duration_s"
        id="duration_s"
        autocomplete="off"
        inputmode="numeric"
        placeholder="0"
        class="bg-purple-200 w-20"
      />
      <label for="duration_m">Sec</label>
    </div>
    <div>
      <button class="mt-5 btn btn-blue">Submit new exercise log</button>
    </div>
  </form>
  <p id="output"></p>
  {{> line-break text='*' }}
  <div
    href="#"
    class="text-xl"
    id="workout-history"
    hx-get="/workouts?limit=20"
    hx-trigger="workout-modified from:body, onFocus, load"
    hx-swap="innerHTML"
  ></div>
  <p
    class="text-center"
    hx-get="/user-info"
    hx-trigger="load"
    hx-swap="innerHTML"
  ></p>
</div>
