<div class="flex items-center justify-center h-screen">
  <div class="container mx-auto text-center max-w-screen-lg prose">
    <h2 class="text-xl">
      Hi there! Welcome to my workout tracker,<br />
      <a class="text-3xl" href="https://fit.kevbot.xyz">fit.kevbot.xyz</a><br />
      You must log in using a Google account. Have a good workout!
    </h2>
    <br />
    <div>
      <a class="btn btn-primary text-xl" href="/login"
        >Log In or Create an Account &#8594;</a
      >
    </div>
    <br />
    <div>
      <a class="btn btn-accent text" href="/logout">Force Log Out</a>
    </div>
    <br />
    <div>
      <a
        class="btn btn-accent text-sm"
        href="https://github.com/kleutzinger/fit.kevbot.xyz"
        >View source code</a
      >
    </div>
    <br />
    <br />
    <img src="/ui-example.png" class="blur justify-center m-auto max-h-60" />
    <br />
    <br />
    <br />
    <br />
    <div class="prose">
      <p>site by Kevin Leutzinger</p>
    </div>
  </div>
</div>
