<h2 class="text-xl">
  Hi there! Welcome to the signup page! Please make an account.<br />
  Right now you have to log in with a google account.
</h2>
<a href="/login"><h1>login</h1></a>
<div>
  <a class="href" ="/login">
    <button
      class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Cyan to blue
      </span>
    </button>
  </a>
  <button
    type="button"
    class="inline-flex items-center px-6 py-2 text-sm text-center rounded text-cyan-500 bg-cyan-100 hover:bg-cyan-200"
  >
    Read more
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 ml-2 mt-0.5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17 8l4 4m0 0l-4 4m4-4H3"
      />
    </svg>
  </button>
</div>
<img
  src="https://cdn.kevbot.xyz/file/kevbot-cdn/screenshots/workout-scrot.png"
/>
