<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <h2>
      Hi there! Welcome to the signup page! Please make an account.<br />
      Right now you have to log in with a google account.
    </h2>
    <div>
      <a class="text-3xl" href="/login"
        ><h1>Create a new account or login</h1></a
      >
    </div>
    <img
      src="https://cdn.kevbot.xyz/file/kevbot-cdn/screenshots/workout-scrot.png"
    />
    {{> kevbadge}}
  </body>
</html>
