{{#if htmx}}
{{>htmx}}
{{/if}}
<script></script>
<form
  hx-post="{{endpoint}}"
  hx-swap="innerHTML"
  hx-target="#output"
  hx-params="not machine_name"
>
  <div>
    <p class="text-3xl">{{machine.name}}</p>
    <input name="machine_id" id="machine_id" readonly value="{{machine.id}}" />
  </div>
  <div>
    {{#if machine.weight_active}}
    <input
      name="weight"
      id="weight"
      class="bg-red-200"
      autocomplete="off"
      inputmode="numeric"
      {{#if workout}}
      value="{{workout.weight}}"
      {{/if}}
      type="text"
    />
    <label for="weight">Weight</label>
    {{/if}}
  </div>
  {{#if machine.watts_active}}
  <div>
    <input
      name="watts"
      id="watts"
      class="bg-red-200"
      autocomplete="off"
      inputmode="numeric"
      type="text"
      {{#if workout}}
      value="{{workout.watts}}"
      {{/if}}
    />
    <label for="watts">Watts</label>
  </div>
  {{/if}} {{#if machine.reps_active}}
  <div>
    <input
      name="reps"
      id="reps"
      autocomplete="off"
      class="bg-green-200"
      inputmode="numeric"
      type="text"
      {{#if workout}}
      value="{{workout.reps}}"
      {{/if}}
    />
    <label for="reps">Reps</label>
  </div>
  {{/if}} {{#if machine.distance_active}}
  <div>
    <input
      name="distance"
      id="distance"
      autocomplete="off"
      class="bg-green-200"
      inputmode="numeric"
      type="text"
      {{#if workout}}
      value="{{workout.distance}}"
      {{/if}}
    />
    <label for="distance">Distance</label>
    <div>
      {{/if}} {{#if machine.duration_active}}
      <div>
        <p>Duration (H:M:S):</p>
        <input
          name="duration_h"
          id="duration_h"
          autocomplete="off"
          inputmode="numeric"
          placeholder="0"
          {{#if workout}}
          hidden readonly
          {{/if}}
          class="bg-purple-200 w-20"
        />
        <label for="duration">:</label>
        <input
          name="duration_m"
          id="duration_m"
          autocomplete="off"
          inputmode="numeric"
          placeholder="0"
          class="bg-purple-200 w-20"
          {{#if workout}}
          hidden readonly
          {{/if}}
        />
        <label for="duration">:</label>
        <input
          name="duration_s"
          id="duration_s"
          autocomplete="off"
          inputmode="numeric"
          placeholder="0"
          class="bg-purple-200 w-20"
          {{#if workout}}
          value="{{workout.duration}}"
          {{/if}}
        />
        <label for="duration_s">Sec</label>
      </div>
      {{/if}}
      <input
        name="note"
        id="note"
        autocomplete="off"
        class="bg-blue-200"
        type="text"
        {{#if workout}}
        value="{{workout.note}}"
        {{/if}}
      />
      <label for="note">Note</label>
    </div>
    {{#if workout}}
    <div>
    <input
      name="datetime"
      id="datetime"
      autocomplete="off"
      class="bg-blue-200"
      type="text"
      value="{{workout.datetime}}"
    />
    </div>
    {{/if}}
    <div>
      <button class="mt-5 btn btn-blue">
        {{#if workout}}
        Submit Workout Update
        {{else}}
        Submit Workout
        {{/if}}
      </button>
    </div>
  </div>
</form>
{{#if workout}}
<div>
  <button
    class="btn btn-red mt-5"
    hx-post="/delete-workout?id={{workout.id}}"
    hx-swap="innerHTML"
    hx-target="#workout-form"
  >
    Delete Workout
  </button>
{{/if}}
