<table class="table-fixed">
  <thead>
    <tr>
      {{#each columns}}
        <th scope="col" class="text-lg px-4 py4">
          {{this}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each workouts as |workout|}}
      <tr class="py-4 text-center">
        {{#each ../columns as |column|}}
          <td>{{lookup workout column}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
