<table class="table-fixed">
  <thead>
    <tr>
      {{#each columns}}
      <th scope="col" class="text-lg px-4 py4">{{this}}</th>
      {{/each}}
      <th scope="col" class="text-lg px-4 py4">edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each workouts as |workout|}}
    <tr class="py-4 text-center">
      {{#each ../columns as |column|}}
      <td>{{lookup workout column}}</td>
      {{/each}}
      <td>
        <a
          class="cursor-pointer"
          hx-target="closest .full-workout-form"
          hx-swap="innerHTML"
          hx-get="/full-workout-form?machine_id={{workout.machine_id}}&edit=true&edit_workout_id={{workout.id}}&table_limit={{table_limit}}"
          hx-trigger="click"
          >edit</a
        >
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
