<span
  id="workout-form-{{machine_id}}"
  {{#if machine_id}}
  hx-get="/get-submit-workout-form?machine_id={{machine_id}}"
  {{else}}
  hx-get="/get-submit-workout-form"
  {{/if}}
  hx-trigger="load"
  hx-replace="outerHTML"
></span>
<div
  href="#"
  class="text-xl"
  id="workout-table-{{machine_id}}"
  {{#if machine_id}}
  hx-get="/workout-table?machine_id={{machine_id}}&limit=5"
  {{else}}
  hx-get="/workout-table?limit=5"
  {{/if}}
  hx-trigger="workout-modified-machine-id-{{machine_id}} from:body, onFocus, load"
  hx-swap="innerHTML"
></div>
