<p class="output max-w-xs" ></p>
<div>
<form
  hx-post="{{post_endpoint}}"
  hx-swap="innerHTML"
  hx-target="previous .output"
  hx-params="not machine_name"
>
  <div>
    {{#if edit}}
    <p class="text-3xl">EDITING {{machine.name}}</p>
    {{else}}
    <p class="text-3xl mb-2">{{machine.name}}</p>
    {{/if}}
  </div>
  <input name="machine_id" hidden readonly value="{{machine.id}}"/>
  <div>
    {{#if machine.weight_active}}
    <input
      name="weight"
      id="weight"
      class="bg-red-200"
      autocomplete="off"
      inputmode="numeric"
      {{#if workout}}
      value="{{workout.weight}}"
      {{/if}}
      type="text"
    />
    <label for="weight">Weight</label>
    {{/if}}
  </div>
  {{#if machine.energy_active}}
  <div>
    <input
      name="energy"
      id="energy"
      class="bg-red-200"
      autocomplete="off"
      inputmode="numeric"
      type="text"
      {{#if workout}}
      value="{{workout.energy}}"
      {{/if}}
    />
    <label for="energy">Energy</label>
  </div>
  {{/if}} {{#if machine.reps_active}}
  <div>
    <input
      name="reps"
      id="reps"
      autocomplete="off"
      class="bg-green-200"
      inputmode="numeric"
      type="text"
      {{#if workout}}
      value="{{workout.reps}}"
      {{/if}}
    />
    <label for="reps">Reps</label>
  </div>
  {{/if}} {{#if machine.distance_active}}
  <div>
    <input
      name="distance"
      id="distance"
      autocomplete="off"
      class="bg-green-200"
      inputmode="numeric"
      type="text"
      {{#if workout}}
      value="{{workout.distance}}"
      {{/if}}
    />
    <label for="distance">Distance</label>
    <div>
      {{/if}} {{#if machine.duration_active}}
      <div>
        <p>Duration (H:M:S):</p>
        <input
          name="duration_h"
          id="duration_h"
          autocomplete="off"
          inputmode="numeric"
          placeholder="0"
          {{#if workout}}
          hidden readonly
          {{/if}}
          class="bg-purple-200 w-20"
        />
        <label for="duration">:</label>
        <input
          name="duration_m"
          id="duration_m"
          autocomplete="off"
          inputmode="numeric"
          placeholder="0"
          class="bg-purple-200 w-20"
          {{#if workout}}
          hidden readonly
          {{/if}}
        />
        <label for="duration">:</label>
        <input
          name="duration_s"
          id="duration_s"
          autocomplete="off"
          inputmode="numeric"
          placeholder="0"
          class="bg-purple-200 w-20"
          {{#if workout}}
          value="{{workout.duration}}"
          {{/if}}
        />
        <label for="duration_s">Sec</label>
      </div>
      {{/if}}
      <input
        name="note"
        id="note"
        autocomplete="off"
        class="bg-blue-200"
        type="textarea"
        {{#if workout}}
        value="{{workout.note}}"
        {{/if}}
      />
      <label for="note">Note</label>
    </div>
    {{#if workout}}
    <div>
    <input
      name="datetime"
      id="datetime"
      autocomplete="off"
      class="bg-blue-200"
      type="text"
      value="{{workout.datetime}}"
    />
    <label for="datetime">Date</label>
    </div>
    {{/if}}
    <div>
      <button class="mt-5 btn btn-blue">
        {{#if edit}}
        Submit Workout Edit
        {{else}}
        Submit Workout
        {{/if}}
      </button>
    </div>
  </div>
</form>
{{#if edit}}
<div>
  <button
    class="btn btn-blue my-20 py-12"
    hx-get="/full-workout-form?machine_id={{workout.machine_id}}"
    hx-swap="innerHTML"
    hx-target="closest .full-workout-form"
  >
    Cancel Editing
  </button>
    <br/>
  <button
    class="btn btn-red my-20 py-12"
    hx-post="/delete-workout?id={{workout.id}}"
    hx-confirm="Are you sure you want to delete this {{workout.machine_name}} workout?"
    hx-swap="innerHTML"
    hx-target="previous .output"
  >
    Delete Workout
  </button>
</div>
{{/if}}
</div>
