<div class="overflow-x-auto overflow-visible">
<table class="table-fixed">
  <thead>
    <tr>
      {{#each columns}}
      <th scope="col" class="py-2 transform -rotate-45 text-primary">{{this}}</th>
      {{/each}}
      <th scope="col" class="py-2 transform -rotate-45 text-primary">edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each workouts as |workout|}}
    <tr
      {{#ifeq
      workout.id
      ../edit_workout_id}}
      class="py-4 text-center bg-gray-200"
      {{else}}
      class="py-4 text-center"
    >
      {{/ifeq}} {{#each ../columns as |column|}}
      <td>{{lookup workout column}}</td>
      {{/each}}
      <td>
        <a
          class="cursor-pointer edit-icon"
          hx-target="closest .full-workout-form"
          hx-swap="innerHTML"
          hx-get="/full-workout-form?machine_id={{workout.machine_id}}&edit=true&edit_workout_id={{workout.id}}&table_limit={{table_limit}}"
          hx-trigger="click"
          {{#if ../edit_workout_id}}
          disabled
          {{/if}}
          >&#9998;</a
        >
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
