<html lang="en">
  <head>
    <title>Admin page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <h1>Admin page (<a href="/">go back</a>)</h1>
    <a href="/logout">log out</a>
    <form hx-post="/new-machine">
      <input name="name" class="machine-input" type="text" />
      <br />
      <button class="btn btn-default">Submit new machine</button>
    </form>
    <a href="/download-csv">download-csv</a>
    <div hx-get="/user-info" hx-replace="this" hx-trigger="load"></div>
    <p id="output"></p>
  </body>
</html>
