<!doctype html>
<html lang="en">
  <head>
    <title>Kevin's workout tracker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <form hx-post="/submit-workout" hx-swap="innerHTML" hx-target="#output">
      <input
        name="weight"
        class="weight-input"
        inputmode="numeric"
        required="required"
        pattern="[0-9]{1,20}"
        type="text"
      />
      <label for="weight"> Weight </label>
      <br />
      <input
        name="reps"
        class="reps-input"
        inputmode="numeric"
        required="required"
        pattern="[0-9]{1,20}"
        type="text"
      />
      <label for="reps"> Reps </label>
      <br />
      <br />
      <br />
      <label for="machine_name">Machine Name</label>
      <select
        name="machine_name"
        hx-get="/machine-list"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-target="this"
      ></select>
      <button class="btn btn-default">Submit lift</button>
    </form>
    <p id="output"></p>
    <a href="/admin">admin</a>
  </body>
</html>
