<!doctype html>
<html lang="en">
  <head>
    <title>Kevin's workout tracker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </head>
  <body>
    <div class="grid grid-cols-1 justify-items-center p-8">
      <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
        <span
          class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900"
          >workout stuff</span
        >
      </div>
      <form hx-post="/submit-workout" hx-swap="innerHTML" hx-target="#output">
        <div>
          <select
            name="machine_name"
            hx-get="/machine-list"
            hx-trigger="load"
            hx-swap="innerHTML"
            hx-target="this"
          ></select>
          <label for="machine_name">Machine Name</label>
        </div>
        <div>
          <label for="weight">
            <input
              name="weight"
              class="bg-red-200"
              autocomplete="off"
              inputmode="numeric"
              pattern="[0-9]{1,20}"
              type="text"
            />
            Weight
          </label>
        </div>
        <div>
          <input
            name="reps"
            autocomplete="off"
            class="bg-green-200"
            inputmode="numeric"
            type="text"
          />
          <label for="reps"> Reps </label>
        </div>
        <div>
          <input
            name="note"
            autocomplete="off"
            class="bg-blue-200"
            type="text"
          />
          <label for="note"> Note </label>
        </div>
        <button class="btn btn-blue">Submit lift</button>
      </form>
      <p id="output"></p>
      <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
        <span
          class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900"
          >admin stuff</span
        >
      </div>
      <a
        href="#"
        hx-get="/workouts"
        hx-target="#workout-target"
        hx-swap="innerHTML"
      >
        get workouts
      </a>
      <div id="workout-target"></div>
      <a href="/admin">admin</a>
    </div>
  </body>
</html>
