<!doctype html>
<html lang="en">
  <head>
    <title>Kevin's workout tracker</title>
    <meta
      name="description"
      content="Kevin's workout tracker. Track your workouts."
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </head>
  <body>
    {{> navbar}}
    <div class="container">
      <div class="row">
        <div class="col-md-12">{{{body}}}</div>
      </div>
    </div>
    <script type="text/javascript">
      (function () {
        const cdn_script_url =
          "https://cdn.jsdelivr.net/npm/kevbadge/kevbadge.js";
        let kevbadge = document.createElement("script");
        kevbadge.type = "text/javascript";
        kevbadge.async = true;
        kevbadge.src = cdn_script_url;
        let s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(kevbadge, s);
      })();
    </script>
  </body>
</html>
