<!doctype html>
<html lang="en" data-theme="{{theme}}{{^theme}}autumn{{/theme}}">
  <head>
    {{#if user}}
    <title>{{user.name}}'s Workout Tracker</title>
    {{else}}
    <title>Workout Tracker</title>
    {{/if}}
    <meta
      name="description"
      content="Kevin's workout tracker. Track your workouts."
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/style.css" rel="stylesheet" />
    {{> htmx}} {{> matomo}}
  </head>
  <body>
    {{#if nonavbar}} <span></span> {{else}} {{> navbar}} {{/if}}
    <!-- startbody -->
    {{{body}}}
    <!-- endbody -->
    {{> kevbadge}}
  </body>
</html>
