<!doctype html>
<html lang="en" data-theme="{{theme}}{{^theme}}autumn{{/theme}}">
  <head>
    {{#if user}}
    <title>{{user.name}}'s Workout Tracker</title>
    {{else}}
    <title>Workout Tracker</title>
    {{/if}}
    <meta
      name="description"
      content="Kevin's workout tracker. Track your workouts."
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/style.css" rel="stylesheet" />
    {{> htmx}} {{> matomo}}
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  </head>
  <body>
    {{#if nonavbar}} {{else}} {{> navbar}} {{/if}}
    <!-- startbody -->
    {{{body}}}
    <!-- endbody -->
    <div id="toast-container" class="toast-container"></div>
    {{> kevbadge}}
  </body>
</html>
